# BACKEND
PORT=3001
DB_HOST=postgres
DB_PORT=5432
DB_NAME=carriup
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=your-secret-key-change-in-production
ANTHROPIC_API_KEY=

# FRONTEND
NEXT_PUBLIC_API_URL=http://localhost:3001
